#tinyFeedbackWrap {
	height: 210px;
	width: 210px;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	position: fixed; 
	top: 35%; 
	left: 0;
	z-index: 1000;
} #tinyFeedback {
	background-color: #333;
	height: 30px;
	width: 200px;
	padding: 5px 10px;
	margin: 0 0 0 -28px;
	text-align: center;
	border: 4px solid #fff;
	border-top: none;
	box-shadow: 0 2px 4px #aaa;
} #tinyFeedback p {
	display: inline-block;
	color: #fff;
	font-weight: bold;
	line-height: 30px;
	padding: 0 10px 0 0;
	margin: 0;
	cursor: default;
} #tinyFeedback a {
	color: #fff;
	display: inline-block;
	text-decoration: none;
	padding: 0 8px;
	line-height: 30px;
	cursor: pointer;
} #tinyFeedback a:hover {
	font-weight: bold;
} #tinyFeedbackNegative {
	width: 550px;
	height: 300px;
	padding: 20px;
	background-color: #fff;
	box-shadow: 2px 2px 2px #ccc;
	font-family: sans-serif;
	font-size: 12px;
	color: #333;
	display: block;
	overflow: hidden;
	margin: 0 0 0 50%;
	position: fixed;
	top: 20%;
	left: -275px;
	z-index: 110;
} #tinyFeedbackNegative h2, #tinyFeedbackNegative h3 {
	font-weight: bold;
	font-size: 16px;
	display: block;
} #tinyFeedbackNegative p.tiny {
	font-size: 10px;
	font-variant: italic;
	padding: 5px;
} #tinyFeedbackNegative input[type=text] {
	width: 268px;
	border: 1px dotted #888;
	padding: 10px;
	font-size: 12px;
	display: block;
	margin: 1px auto;
} #tinyFeedbackNegative textarea {
	height: 150px;
	width: 268px; 
	padding: 10px;
	border: 1px dotted #888;
	font-family: sans-serif;
	font-size: 12px;
	display: block;
	margin: 1px auto;
} #tinyFeedbackNegative input[type=submit] {
	width: 270px;
	background-color: #404040;
	color: #fff;
	border: none;
	padding: 10px 0;
	margin: 5px auto 0 auto;
	box-shadow: 2px 2px 2px #aaa;
	display: block;
	cursor: pointer;
} #tinyFeedbackNegative input[type=submit]:hover {
	background-color: #505050;
} #tinyFeedbackNegative a#lb_close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-weight: bold;
	color: #444;
	padding: 2px 7px 0 7px;
	border: 2px solid #444;
	border-radius: 20px;
	cursor: pointer;
} #tinyFeedbackNegative a#lb_close:hover {
	text-decoration: none;
	color: #000;
	border: 2px solid #000;
} #tinyFeedbackNegativeText {
	width: 210px;
	height: 290px;
	border-right: 1px dotted #ccc;
	margin: 0 10px 0 0;
	padding: 5px;
	overflow: hidden;
	float: left;
} #tinyFeedbackForm {
	width: 290px;
	overflow: hidden;
	float: left;
} #lb_overlay {
	background-color: #000;
	opacity: 0.8;
	filter: alpha(opacity=80);
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: block;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
